@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');

body {
  overflow-y: scroll;
  font-family: 'Archivo Narrow', sans-serif;
  background-color: #E5DADA;
  color: #02040F;
}

.title {
  font-size: 1.5em;
  text-align: center;
}

h2 {
  font-size: 1.25em;
  text-align: center;
}

/* li {
  display: inline-block;
} */

ul {
  list-style-type: none;
  text-align: center;
  margin: 1rem;
}

a:link, a:visited {
  text-decoration: none;
  color: #840032;
}

a:hover, a:active {
  color: #002642;
}
  
table.customers-table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 90%;
}

form {
  border-collapse: collapse;
  margin: 0 auto;
  width: 27%;
}

.customers-table th,
.customers-table td {
  text-align: left;
}
  
.customers-table td {
  padding: .25rem;
  border: none;
}

.customers-table tr:nth-of-type(2n) td {
  background-color: #eee;
}